* {
  padding: 0px;
  margin: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  box-sizing: border-box;
}
label {
  cursor: pointer;
}
legend {
  display: block;
}
